@import '../../styles/colors';

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  color: $secondaryBlue;

  p {
    margin-top: 3px;
    font-weight: bold;
  }

  .header-icons {
    font-size: 40px;
  }
}
