@import '../../styles/colors';

.course-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  // margin: 20px 0;

  .course-delete-button {
    height: 60px;
    width: 155px;

    border: 1px solid $primaryBlue;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: $secondaryBlue;
  }
  
  .course-see-offert {
    height: 60px;
    width: 220px;

    border: 1px solid $secondaryYellow;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: $primaryYellow;
    color: $blackText;
  }
}
