@import '../../styles/colors';

.container {
  display: flex;
  justify-content: center;
  width: calc(33% - 1rem);
  height: 110px;
  background-color: $secondaryBlue;
  margin: 2px;
  
  .footer-icon {
    font-size: 50px;
    color: $whiteText;
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
  }

  .card-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    width: 100%;
    color: $whiteText;
    height: 100px;
    font-size: 16px;

    .card-title {
      font-weight: bold;
      font-size: 20px;
    }

    .card-short-text {
      display: none;
    }
  }
}


@media screen and (max-width: 500px) {
  .container {
    .footer-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      height: 100%;

      .card-title,
      .card-text {
        display: none;
      }

      .card-short-text {
        display: inline;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}