$primaryBlue: #18acc4;
$secondaryBlue: #007a8d;
$primaryYellow: #fdcb13;
$secondaryYellow: #de9e1f;
$green: #0fa866;
$textBlack: #1f2d30;
$grayBackground: #fbfbfb;
$modalOverlay: rgba(31, 45, 48, 0.88);
