@mixin middleBorder($side) {
  @if $side == right or $side == left {
    background: linear-gradient(
        rgba(200, 200, 200, 0.3),
        rgba(200, 200, 200, 0.3)
      )
      no-repeat $side/3px 75%;
  } @else {
    background: none;
  }
}

@mixin common-text-style() {
  font-weight: bold;
  font-size: 18px;
}

@mixin green-text-style() {
  font-size: 18px;
  font-weight: bold;
  color: $green;
}