@import '../../styles/colors';
@import '../../styles/utils';

.tab-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;
    
  border-radius: 5px;
  border: 1.2px solid $secondaryBlue;
  
  .tab-menu-text {
    color: $secondaryBlue;
    @include common-text-style();
  }
}

.active {
  background-color: $secondaryBlue;

  .tab-menu-text {
    color: $whiteText;
  }
}