@import '../../styles/colors';
@import '../../styles/utils';

.tab-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;
    
  border-radius: 5px;
  border: 1.2px solid $secondaryBlue;
  
  .tab-menu-text {
    color: $secondaryBlue;
    @include common-text-style();
  }
}

.active {
  background-color: $secondaryBlue;

  .tab-menu-text {
    color: $whiteText;
  }
}

@media screen and (min-width: 1024px) { 
  .tab-menu-item {
    height: 40px;
    width: 230px;
    cursor: pointer;
  }

  .tab-menu-item:nth-child(2) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .tab-menu-item:nth-child(1) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .tab-menu-item:nth-child(3) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  } 
}
