.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 45px;
  cursor: pointer;
  box-shadow: 1px 1px 15px -7px rgba(0,0,0,0.50);
}

@media screen and (min-width: 1024px) {  
  .card-wrapper {
    flex-direction: row;
    flex-grow: wrap;

    width: 370px;
    height: 530px;
    
    margin: 20px 20px;
    transition: all 0.3s ease-in-out;
  }

  .card-wrapper:hover {
    transform: scale(1.1);
  }
}