@import '../../styles/colors';
@import '../../styles/utils';

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  width: 150px;

  border: none;
  margin-top: 40px;
  background-color: transparent;
  color: $secondaryBlue;
  @include common-text-style();
}