@import '../../styles/colors';

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  width: 150px;

  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  background-color: transparent;
  color: $secondaryBlue;
}