@import '../../styles/colors';

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  height: 100%;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 260px;
  overflow-y: scroll;
  animation: fadeIn 0.5s;
  background-color: $modalOverlay;



  .modal-close-icon {
    align-self: flex-end;
    color: $whiteText;
    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 20px
  } 

  .modal-content {
    width: 100%;

    background-color: white;

    .modal-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 30px;

      .modal-header-title {
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 5px;
      }

      .modal-header-text {
        font-size: 18px;
      }

      .modal-form {
        .modal-form-select-wrapper {
          display: flex;
          flex-direction: column;

          margin: 25px 0;

          .modal-form-select-label {
            font-weight: bold;
            margin-bottom: 3px;
          }

          .modal-form-select {
            height: 70px;

            border-radius: 5px;
            font-size: 18px;
            padding-left: 10px;
            padding-right: 20px;
            background: url('../../assets/images/angle-arrow-down (5).png') no-repeat 95% 50%;
            appearance: none;
            border: 1px solid rgba(66, 66, 66, 0.3);
          }
        }
        .modal-form-kind-wrapper {
          display: flex;
          flex-direction: column;

          .modal-form-kind-text {
            font-size: 18px;
            font-weight: bold;
          }

          .modal-form-kind-checkbox-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 230px;
            margin: 35px 0;

            .modal-form-checkbox {
              opacity: 0;
            }

            .modal-form-checkbox-label::before {
              position: absolute;
              top: 2px;
              left:-24px;

              content: '';
              display: inline-block;
              
              height: 15px;
              width: 15px;
              
              border: 1px solid; 
              border-radius: 3px;
            }

            .modal-form-checkbox-label::after {
              position: absolute;
              left:-21px;
              top: 5px;

              content: '';
              display: inline-block;

              height: 6px;
              width: 9px;
              border-left: 2px solid;
              border-bottom: 2px solid;

              transform: rotate(-45deg);
            }

            .modal-form-checkbox + label::after {
              content: none;
            }

            .modal-form-checkbox:checked + label::after {
              content: '';
              color: $whiteText;
            }

            .modal-form-checkbox:checked + label::before {
              background-color: $primaryBlue;
              border: 1px solid $primaryBlue;
            }

            .modal-form-checkbox-label {
              position: relative;
              font-size: 18px;
            }
          }
        }
        
        .modal-form-price-wrapper {
          display: flex;
          flex-direction: column;

          .modal-form-price-label {
            font-size: 18px;
            font-weight: bold;
          }

          .modal-form-price-value {
            font-size: 18px;
            margin-top: 5px; 
            margin-bottom: 15px;
          }

          .modal-form-range {
            appearance: none;
            width: 100%;
            background: transparent;
          }

          .modal-form-range::-webkit-slider-thumb {
            appearance: none;
            border: 2px solid $primaryBlue;
            border-radius: 50px;
            height: 36px;
            width: 36px;
            background: #fff;
            cursor: pointer;
            margin-top: -14px
          }

          .modal-form-range::-webkit-slider-runnable-track {
            width: 100%;
            height: 6.4px;
            cursor: pointer;
            background: $primaryBlue;
            border: none;
            border-radius: 5px;
          }

          .modal-form-range:focus {
            outline: none;
          }

          .modal-form-range::-ms-track {
            width: 100%;
            cursor: pointer;

            background: transparent;
            border-color: transparent;
            color: transparent;
          }
        }
      }
      .modal-results-filters-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
        width: 100%;

        .modal-results-filters-text {
          font-size: 18px;
          font-weight: bold;
        }

        .modal-results-filters-select-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          .modal-results-filters-select-label {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .modal-results-filters-select {
            border: none;
            color: $primaryBlue;
            font-size: 16px;
            appearance: none;
            background: url('../../assets/images/angle-arrow-down (6).png') no-repeat 95% 50%;
            padding-right: 30px;
          }
        }
      }
      .modal-results-wrapper {
        display: flex;
        align-items: center;
        margin: 10px 0;
        height: 150px;

        .modal-results-checkbox {
          opacity: 0;
        }

        .modal-results-university-logo-wrapper {
          position: relative;
          margin-left: 10px;

          .modal-results-university-logo {
            height: 55px;
            width: 120px;
            margin-left: 30px;
            margin-top: 15px;
          }
        }

        .modal-results-university-logo-wrapper::before {
          position: absolute;
          top: 30px;
          left: -24px;

          content: '';
          display: inline-block;
          
          height: 15px;
          width: 15px;
          
          border: 1px solid; 
          border-radius: 3px;
        }

        .modal-results-university-logo-wrapper::after {
          position: absolute;
          left:-21px;
          top: 32px;

          content: '';
          display: inline-block;

          height: 6px;
          width: 9px;
          border-left: 2px solid;
          border-bottom: 2px solid;

          transform: rotate(-45deg);

        }

        .modal-results-checkbox + label::after  {
          content: none;
        }

        .modal-results-checkbox:checked + label::after  {
          content: '';
          color: $whiteText;
        }

        .modal-results-checkbox:checked + label::before  {
          background-color: $primaryBlue;
          border: 1px solid $primaryBlue;
        }

        .modal-results-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 90%;
          margin-left: 30px;

          .modal-results-course-name-and-level-wrapper {
            display: flex;
            flex-direction: column;

            .modal-results-course-name {
              color: $secondaryBlue;
              font-size: 18px;
              font-weight: bold;
            }

            .modal-results-course-level {
              margin-top: 5px;
            }
          }

          .modal-results-course-price-and-discount-wrapper {
            display: flex;
            flex-direction: column;

            .modal-results-course-discount-green {
              display: flex;
              align-items: center;

              .modal-results-course-discount {
                font-size: 18px;
              }

              .modal-results-course-discount-green {
                font-size: 18px;
                font-weight: bold;
                color: $green;
              }
            }

            .modal-results-course-price {
              font-size: 18px;
              font-weight: bold;
              color: $green;
            }
          }
        }
      }
      .horizontal-line {
        height: 3px;
        width: 100%;
        
        border: none;
        border-radius: 5px;
        background-color: rgba(66, 66, 66, 0.1);
      }
      .course-buttons-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    
        margin: 30px 0;
      
        .course-delete-button {
          height: 60px;
          width: 155px;
    
          border: 1px solid $primaryBlue;
          border-radius: 5px;
          font-size: 18px;
          font-weight: bold;
          background-color: transparent;
          color: $secondaryBlue;
        }
        
        .course-see-offert {
          height: 60px;
          width: 220px;
    
          border: 1px solid $secondaryYellow;
          border-radius: 5px;
          font-size: 18px;
          font-weight: bold;
          background-color: $primaryYellow;
          color: $blackText;
        }
      }
    }
  }
}