@import '../../styles/colors';
@import '../../styles/utils';

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  height: 100%;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 260px;
  overflow-y: scroll;
  animation: fade 0.5s;
  background-color: $modalOverlay;

  .modal-close-icon {
    align-self: flex-end;

    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: $whiteText;
  } 

  .modal-content {
    width: 100%;

    background-color: white;

    .modal-wrapper {
      display: flex;
      flex-direction: column;

      margin: 0 30px;

      .modal-header-title {
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 5px;
      }

      .modal-header-text {
        font-size: 18px;
      }

      .modal-form {
        .modal-form-kind-wrapper {
          display: flex;
          flex-direction: column;

          .modal-form-kind-text {
            @include common-text-style();
          }

          .modal-form-kind-checkbox-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 230px;
            margin: 35px 0;
          }
        }
        
        .modal-form-price-wrapper {
          display: flex;
          flex-direction: column;
        }
      }
      .modal-results-filters-wrapper {
        display: flex;
        justify-content: space-between;

        margin: 40px 0;
        width: 100%;

        .modal-results-filters-text {
          @include common-text-style();
        }

        .modal-results-filters-select-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          .modal-results-filters-select-label {
            margin-bottom: 5px;
            @include common-text-style();
          }

          .modal-results-filters-select {
            font-size: 16px;
            padding-right: 30px;
            border: none;
            appearance: none;
            color: $primaryBlue;
            background: url('../../assets/images/angle-arrow-down (6).png') no-repeat 95% 50%;
          }
        }
      }
      .modal-results-wrapper {
        display: flex;
        align-items: center;

        margin: 10px 0;
        height: 150px;

        .modal-results-checkbox-wrapper {
          display: flex;
          align-items: center;
          
          .modal-results-checkbox {
            opacity: 0;
          }

          .modal-results-checkbox-label {
            position: relative;

            margin-left: 10px;
          }

          
        .modal-results-checkbox-label::before {
          display: inline-block;
          position: absolute;
          top: 0px;
          left: -24px;
          
          height: 15px;
          width: 15px;

          content: '';
          border: 1px solid; 
          border-radius: 3px;
        }

        .modal-results-checkbox-label::after {
          display: inline-block;
          position: absolute;
          left:-21px;
          top: 2px;

          height: 6px;
          width: 9px;
          
          content: '';
          border-left: 2px solid;
          border-bottom: 2px solid;
          transform: rotate(-45deg);
        }

        .modal-results-checkbox + label::after  {
          content: none;
        }

        .modal-results-checkbox:checked + label::after  {
          content: '';
          color: $whiteText;
        }

        .modal-results-checkbox:checked + label::before  {
          border: 1px solid $primaryBlue;
          background-color: $primaryBlue;
        }
          
        }
        .modal-results-university-logo {
          height: 55px;
          width: 120px;

          margin-left: 30px;
          margin-top: 15px;
        }
      }
    }
  }
}