@import '../../styles/colors';
@import '../../styles/utils';

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  height: 100%;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 260px;
  overflow-y: scroll;
  animation: fade 0.5s;
  background-color: $modalOverlay;

  .modal-close-icon {
    align-self: flex-end;

    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: $whiteText;
  } 

  .modal-content {
    width: 100%;

    background-color: white;

    .modal-wrapper {
      display: flex;
      flex-direction: column;

      margin: 0 30px;

      .modal-header-title {
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 5px;
      }

      .modal-header-text {
        font-size: 18px;
      }

      .modal-form {
        .modal-form-kind-wrapper {
          display: flex;
          flex-direction: column;

          .modal-form-kind-text {
            @include common-text-style();
          }

          .modal-form-kind-checkbox-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 230px;
            margin: 35px 0;
          }
        }
        
        .modal-form-price-wrapper {
          display: flex;
          flex-direction: column;
        }
      }
      .modal-results-filters-wrapper {
        display: flex;
        justify-content: space-between;

        margin: 40px 0;
        width: 100%;

        .modal-results-filters-text {
          @include common-text-style();
        }

        .modal-results-filters-select-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          .modal-results-filters-select-label {
            margin-bottom: 5px;
            @include common-text-style();
          }

          .modal-results-filters-select {
            @include common-text-style();
            padding-right: 30px;
            border: none;
            appearance: none;
            color: $primaryBlue;
            background: url('../../assets/images/angle-arrow-down (6).png') no-repeat 95% 50%;

            option {
              font-size: 18px;
            }
          }
        }
      }
      .modal-cancel {
        height: 60px;
        width: 30%;
    
        border: 1px solid $primaryBlue;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        background-color: transparent;
        color: $secondaryBlue;
      }
    
      .modal-add {
        height: 60px;
        width: 60%;
    
        border: 1px solid $secondaryYellow;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        background-color: $primaryYellow;
        color: $blackText;
      }
      
      .modal-add-disabled {
        height: 60px;
        width: 60%;
    
        border: 2px solid rgba(150, 150, 150, 0.3);
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: not-allowed;
        background-color: rgba(189, 189, 189, 0.5);
        color: rgba(130, 130, 130, 1);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    padding-top: 100px;
    .modal-close-icon {
      align-self: center;
      margin-left: 59%;
  
      font-size: 40px;
      margin-right: 20px;
      margin-bottom: 20px;
      color: $whiteText;
    } 
    
    .modal-content {
      width: 60%;

      .modal-form {
        .modal-form-select-container {
          display: flex;
          justify-content: space-between;
        }

        .modal-form-kind-and-price-wrapper {
          display: flex;
          justify-content: space-between;

          .modal-form-price-wrapper {
            width: 50%;
          }
        }
      }
      .modal-wrapper {
        .modal-results-filters-wrapper {
          .modal-results-filters-select-wrapper {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 290px;

            .modal-results-filters-select {
              margin-bottom: 5px;
            }
          }
        }
        .modal-cancel {
          height: 50px;
          width: 150px;
          
          margin-right: 25px;
        }
      
        .modal-add {
          height: 50px;
          width: 200px;
        }

        .modal-add-disabled {
          height: 50px;
          width: 200px;
        }
      }
    }
  }
}