@import '../../styles/colors';

#footer {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin-top: 175px;
  background-color: $primaryBlue;

  .cards-wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .footer-card-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer-message-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    background-color: $primaryBlue;

    .footer-message {
      font-size: 18px;
      color: $whiteText;
    }
  }
}

@media screen and (min-width: 500px) {
  .cards-wrapper {
    flex-direction: row;
  }
}