@import '../../styles/colors';

#footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 175px;

  background-color: $primaryBlue;

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-card-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer-message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 125px;
    width: 100%;
    
    background-color: $primaryBlue;

    .footer-message {
      font-size: 18px;
      color: $whiteText;
    }
  }
}

