@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import './styles/colors';


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#main {
  margin: 0 5%;

  .main-title {
    font-size: 46px;
    margin-top: 40px;
    color: $blackText;
  }
  
  .main-text {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 14px;
    color: $blackText;
  }
}

