@import '../../styles/colors';

.modal-results-checkbox-wrapper {
  display: flex;
  align-items: center;
  
  .modal-results-checkbox {
    z-index: 1;
    
    width: 15px;
    height: 15px;
    
    opacity: 0;
    margin-top: 15px;
  }

  .modal-results-checkbox-label {
    position: relative;

    margin-left: 10px;
  }

    
  .modal-results-checkbox-label::before {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -24px;
    
    height: 15px;
    width: 15px;
    
    content: '';
    border: 1px solid; 
    border-radius: 3px;
  }

  .modal-results-checkbox-label::after {
    display: inline-block;
    position: absolute;
    left:-21px;
    top: 2px;

    height: 6px;
    width: 9px;

    content: '';
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
  }

  .modal-results-checkbox + label::after  {
    content: none;
  }

  .modal-results-checkbox:checked + label::after  {
    content: '';
    color: $whiteText;
  }

  .modal-results-checkbox:checked + label::before  {
    border: 1px solid $primaryBlue;
    background-color: $primaryBlue;
  }
    
}