@import '../../styles/colors';
@import '../../styles/utils';

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 55px;
  
  background-color: $primaryBlue;

  .nav-current-menu {
    letter-spacing: 1px;
    margin-left: 15px;
    color: $whiteText;
    @include common-text-style();
  }

  .nav-current-menu-desktop {
    display: none;
  }
}

@media screen and (min-width: 1024px) { 
  .nav-container {
    .nav-current-menu-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 100%;
      width: 480px;

      margin-left: 5%;
      cursor: pointer;

      .nav-current-menu {
        width: 100%
      }

      .nav-current-menu {
        font-size: 22px;
      }

      .nav-current-menu-desktop-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 100%;
        width: 100%;

        .nav-current-menu-desktop {
          display: inline;

          text-decoration: none;
          color: $whiteText;
          @include common-text-style();
        }
      }
      .nav-current-menu-desktop-wrapper:hover { 
        background-color: $secondaryBlue;
      }

      .nav-current-menu-desktop-wrapper:nth-child(3) {
        background-color: $secondaryBlue;
      }
    }


  }
}
