@import '../../styles/colors';
@import '../../styles/utils';

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 55px;
  
  background-color: $primaryBlue;

  .nav-current-menu {
    letter-spacing: 1px;
    margin-left: 15px;
    color: $whiteText;
    @include common-text-style();
  }
}
